XML/Schema/actividad35_1/docencias.xsd

<?xml version = "1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">

    <xs:element name="grupo" type="xs:string"></xs:element>

    <xs:element name="asignatura"></xs:element>
        <xs:complexType name="">
            <xs:sequence>
                <xs:element name="nombre_asig" type="xs:string"></xs:element>
                <xs:element name="horas_semanales" type="xs:string"></xs:element>
                <xs:element name="profesor" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>